
body
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


a {
  color: black;
  text-decoration: none;
}

a:hover {
   color: black;
   background-color: aqua;
   text-decoration: underline;
}

a:visited {
  color: black; 
}


/***********
   ne => not equal
   x  => missing
 *****/
.code-ne {
  /* display: inline-block; */
   color: navy;
   border: 2px solid navy;
   font-weight: bold;
}

.code-x {
  /* display: inline-block; */
   color: red;
   border: 2px solid red;
   font-weight: bold;
   font-size: 12px;     /* ~80%  */
}

.country-count,
.country-key {
  color:     #333333;  /*  dark-gray  */
  font-size: 12px;     /* ~80%  */
}



/*
 * version / powered_by
 */

.version
{
   text-align: center;
   margin-top: 10px;
   color: grey;
}

.version a,
.version span {
     font-size: 12px;
     color: grey
}

/* banner
 */

.banner {
  color: white;
  background-color: #333333;
  font-size: 12px;
  padding: 6px 6px 4px 8px;
  margin: 0 0 8px 0; }
.banner a, .banner a:visited {
  text-decoration: none;
  color: white; }
.banner a:hover {
  background-color: #333333;
  text-decoration: underline; }
