
body
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


a {
  color: black;
  text-decoration: none;
}

a:hover {
   color: black;
   background-color: aqua;
   text-decoration: underline;
}

a:visited {
  color: black; 
}


/***********
   x  => missing
 *****/
.city-pop-x {
  /* display: inline-block; */
   color: navy;
   border: 2px solid navy;
   font-weight: bold;
}

.city-info {
  /* color:     #333333; */  /*  dark-gray  */  
  font-size: 12px;     /* ~80%  */
}

.city-key {
  color:     #333333;  /*  dark-gray  */
  font-size: 12px;     /* ~80%  */
}

.city-count {
  color:     #333333;  /*  dark-gray  */
  font-size: 12px;     /* ~80%  */
}


/*
 * version / powered_by
 */

.version
{
   text-align: center;
   margin-top: 10px;
   color: grey;
}

.version a,
.version span {
     font-size: 12px;
     color: grey
}

